.about__container {
  display: flex;

  margin: 0 auto 100px;

  @include vp-1024 {
    margin: 0 auto 80px;
  }
}

/* ============ about__picture */

.about__picture {
  flex-shrink: 0;
  margin-right: 100px;

  background-image: url("../img/decorative/year-2022.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 150px 320px;
  width: 150px;
  min-height: 320px;

  @include retina {
    background-image: url("../img/decorative/year-2022@2x.png");
  }

  @include vp-1024 {
    margin-right: 24px;
    background-position: -3px 5px;
  }

  @include vp-768 {
    display: none;
  }
}

/* ============ about__info */

.about__info {
  color: $color-black-pearl;
}

.about__info h2 {
  font-family: $ff-placeholder-second;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 13px;

  @include vp-768 {
    font-size: 28px;
    line-height: 40px;
  }
}

.about__info p {
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;

  @include vp-1024 {
    margin-bottom: 17px;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
}

// Показ/скрытие дополнительной информации (абзаца)

.about__info span {
  display: block;

  @include vp-1024 {
    display: block;
  }

  @include vp-768 {
    display: none;
  }
}

.about__more-info span {
  display: none;

  @include vp-1024 {
    display: none;
  }

  @include vp-768 {
    display: block;
  }
}

// Показ/скрытие дополнительной информации
.about__more-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height $trans-600;
}

.about__info button {
  font-family: $ff-placeholder-second;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 3px;
  color: $color-deep-sky-blue;
  cursor: pointer;

  border: 1px solid $color-deep-sky-blue;
  padding: 14px 50px;
  transition: background-color $trans-default, color $trans-default;
  margin-top: 19px;

  @include effects-off {
    &:hover,
    &:focus {
      background-color: $color-deep-sky-blue;
      color: $alice-blue;
      animation: pulsate $trans-1000;
    }

    &:active {
      background-color: $color-blue;
      color: $alice-blue;
    }
  }

  &:active {
    background-color: $color-blue;
    color: $alice-blue;
  }

  @include vp-1024 {
    margin-top: 0;
  }

  @include vp-768 {
    padding: 8px 39px;
  }
}

// Анимация пульсации при наведении на кнопку
@keyframes pulsate {
  0% {
    box-shadow:
      0 0 25px $color-turquoise-blue,
      0 0 50px $color-purple-heart;
  }
}

/* Реализация дополнительной информации без JS. Стилизация с помощью добавления класса "no-js" тегу div с классом  .about__more-info */
.about__info.no-js .about__more-info {
  max-height: none;
}

.about__info.no-js button {
  display: none;
}
