.approval label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 3px 0 3px 26px;
  font-size: 14px;
  line-height: 16px;
  max-width: 250px;
  cursor: pointer;
  transition: color $trans-default, opacity $trans-default;
  opacity: 0.8;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid $color-default-white;
    border-radius: 2px;
    background-color: transparent;

    @include vp-768 {
      top: 44%;
    }
  }

  &:active {
    color: $color-electric-indigo;
    opacity: 1;
  }
}

.approval input:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/svg/check-mark-callback.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 3px;
  width: 12px;
  height: 8px;
  top: 52%;
  transform: translateY(-50%);

  @include vp-768 {
    top: 46%;
  }
}

@include effects-off {
  .approval input:hover + label,
  .approval input:focus + label {
    color: $color-blue;
    opacity: 1;
  }

  .approval input:active + label {
    color: $color-electric-indigo;
    opacity: 1;
  }
}
