.burger {
  display: none;

  @include vp-768 {
    display: none;
  }

  @include mobile-version-range {
    display: inline-block;
    position: relative;
    height: 27px;
    width: 32px;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 8;
  }
}

.burger__menu {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: $color-alice-blue;
  margin: 0 auto;
  transition: height $trans-default;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    border: none;
    background-color: $color-alice-blue;
    left: 0;
  }

  &::before {
    top: -5px;
    transition: top 300ms 300ms, transform $trans-header-burger;
  }

  &::after {
    bottom: -5px;
    transition: bottom 300ms 300ms, transform $trans-header-burger;
  }

  @include mobile-version-range {
    margin-left: 9px;
  }
}

.burger.is-open {
  height: 27px;
}

.burger__menu.is-open {
  background-color: $color-transparent;
}

.burger__menu.is-open.burger__menu::before {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms $trans-header-burger-2;
  background-color: $color-tangaroa;
}

.burger__menu.is-open.burger__menu::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms $trans-header-burger-2;
  background-color: $color-tangaroa;
}
