.callback {
  color: $color-default-white;
  background-color: $color-deep-sky-blue-2;
}

.callback__container {
  padding: 170px 350px 250px;

  // position: relative;
  // display: flex;
  // justify-content: end;
}

/* callback__block */

.callback__block {
  max-width: 585px;
  // position: relative;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   background-image: url("../img/decorative/paper-airplane-3d.png");
  //   background-repeat: no-repeat;
  //   background-position: 0 0;
  //   width: 510px;
  //   height: 285px;
  //   left: 0;
  // }
}

.callback__block>p {
  font-family: $ff-placeholder-second;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 15px;
}

.callback__block span {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  margin-bottom: 35px;
}

/* callback__form */

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 275px 275px;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-areas:
    'name phone'
    'textarea textarea';
  margin-bottom: 35px;
}

.callback__item {
  margin: 0;
}

.callback__item input,
.callback__item textarea {
  width: 100%;
}

.callback__item input,
.callback__item textarea {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background: $color-black-opacity-1;
  border-radius: 3px;
  border: none;
  padding: 15px;
}

.callback__item input::placeholder,
.callback__item textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.callback__item--name {
  grid-area: name;
}

.callback__item--phone {
  grid-area: phone;
}

.callback__item--textarea {
  grid-area: textarea;
}

.callback__button {
  font-family: $ff-placeholder-second;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: $alice-blue;
  border-radius: 3px;
  cursor: pointer;

  width: 265px;
  padding: 15px 25px;
  background-color: $color-black-pearl-2;
  border: none;
  flex-shrink: 0;
  margin-right: 50px;
  transition: background-color $trans-default;

  @include effects-off {

    &:hover,
    &:focus {
      background-color: $color-blue;
    }

    &:active {
      background-color: $color-navy;
    }
  }

  &:active {
    background-color: $color-navy;
  }
}

/* callback__confirmation */

.callback__confirmation {
  display: flex;
  align-items: end;
}
