.callback {
  color: $color-default-white;
  background-color: $color-deep-sky-blue-2;

  background-image: url("../img/background/triangle-desktop.png");
  background-position: 0 -85px;
  background-repeat: no-repeat;

  @include vp-1024 {
    background-image: none;
  }
}

.callback__container {
  padding: 170px 20px 248px;

  @include vp-1024 {
    padding: 44px 5px 126px;
  }

  @include vp-768 {
    padding: 47px 25px 85px;
  }
}

.callback__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;


  // display: flex;
  // justify-content: end;

  // background-image: url("../img/decorative/paper-airplane-3d.png");
  // background-repeat: no-repeat;
  // background-position: 0 76px;
  // background-size: 510px 285px;

  // @include retina {
  //   background-image: url("../img/decorative/paper-airplane-3d@2x.png");
  // }

  @include vp-1024 {
    display: block;
    // background-image: none;
  }
}

// callback__image
.callback__image {
  max-width: 510px;
  background-image: url("../img/decorative/paper-airplane-3d.png");
  background-repeat: no-repeat;
  background-position: 0 76px;
  background-size: 100%;

  @include retina {
    background-image: url("../img/decorative/paper-airplane-3d@2x.png");
  }

  @include vp-1024 {
    display: none;
  }
}

/* callback__block */

.callback__block {
  max-width: 585px;
  margin: -5px 14px 0 0;

  @include vp-1024 {
    max-width: 100%;
    margin: 0;
  }
}

.callback__block > p {
  font-family: $ff-placeholder-second;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 12px 5px;

  @include vp-1024 {
    margin: 0 0 7px;
  }

  @include vp-768 {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 7px;
  }
}

.callback__block span {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  margin: 0 0 35px 9px;

  @include vp-1024 {
    margin: 0 0 25px 0;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 33px;
  }
}

/* callback__form */

.callback__form {
  margin-left: 9px;

  @include vp-1024 {
    margin: 0;
  }
}

.form__list {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: 275px 275px;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-areas:
    "name phone"
    "textarea textarea";
  margin: 0 0 25px;

  @include vp-1024 {
    grid-template-columns: 320px 320px;
    margin: 0 0 28px;
  }

  @include vp-768 {
    display: block;
    margin: 0 0 25px;
  }
}

.callback__item {
  margin: 0;

  @include vp-768 {
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0 0 0 0;
    }
  }
}

.callback__item input,
.callback__item textarea {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  color: $color-black-pearl;
  background: $color-black-opacity-1;
  border-radius: 3px;
  border: none;
  padding: 15px;
}

.callback__item input::placeholder,
.callback__item textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.callback__item textarea {
  max-height: 155px;
  padding: 22px 15px 15px 15px;

  @include vp-1024 {
    padding: 28px 15px 15px;
  }

  @include vp-768 {
    padding: 20px 15px 15px;
    max-height: 177px;
  }
}

.callback__item--name {
  grid-area: name;
}

.callback__item--phone {
  grid-area: phone;
}

.callback__item--textarea {
  grid-area: textarea;
}

.callback__button {
  font-family: $ff-placeholder-second;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $alice-blue;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  width: 265px;
  padding: 13px 32px;
  background-color: $color-black-pearl-2;
  border: none;
  flex-shrink: 0;
  margin-right: 50px;
  transition: background-color $trans-default, border-radius $trans-1000;
  order: -1;

  @include effects-off {
    &:hover,
    &:focus {
      background-color: $color-blue;
      border-radius: 200px 0 200px 0;
    }

    &:active {
      background-color: $color-navy;
    }
  }

  &:active {
    background-color: $color-navy;
  }

  @include vp-1024 {
    padding: 10px 32px;
    margin-right: 85px;
  }

  @include vp-768 {
    margin: 0 0 22px;
    width: 100%;
  }
}

/* callback__confirmation */

.callback__confirmation {
  display: flex;
  align-items: end;

  @include vp-768 {
    flex-direction: column;
  }
}

.callback__approval {
  @include vp-768 {
    margin-right: 15px;
  }
}
