@include effects-off {
  /* Разворот карточки на 180 градусов */
  .card:hover .card__front,
  .card:focus-within .card__front {
    transform: perspective(600px) rotateY(-180deg);
  }

  .card:hover .card-back,
  .card:focus-within .card-back {
    transform: perspective(600px) rotateY(0deg);
  }
}

@include vp-1024 {
  .card.rotation .card__front {
    transform: perspective(600px) rotateY(-180deg);
  }

  .card.rotation .card-back {
    transform: perspective(600px) rotateY(0deg);
  }
}

/* ============ card__front */

.card__front {
  position: relative;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform $trans-800;
  height: 386px;
  overflow: hidden;

  @include tablet-version-range {
    height: 386px;
  }
}

.card__front h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  margin: 0;
  color: $color-alice-blue;
  bottom: 20px;
  left: 30px;
  right: 30px;

  @include tablet-version-range {
    pointer-events: none;
    bottom: 27px;
    left: 35px;
  }

  @include mobile-version-range {
    pointer-events: none;
    bottom: 18px;
    left: 26px;
  }
}

.card__front img {
  width: 100%;
  height: 100%;
}
