.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.catalog__container {
  padding: 0 5px 140px;

  @include vp-1024 {
    padding: 0 5px 75px;
  }

  @include vp-768 {
    padding: 0 5px 86px 5px;
  }
}

.catalog__container h2 {
  font-family: $ff-placeholder-second;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin: 0;
  margin-bottom: 53px;
  padding-top: 66px;

  @include vp-1024 {
    margin-bottom: 39px;
    padding-top: 54px;
  }

  @include vp-768 {
    max-width: 245px;
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 29px;
    padding-top: 48px;
  }
}

.catalog__container span:first-child {
  @include vp-768 {
    display: none;
  }
}

.catalog__container span:last-child {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 85px;
  row-gap: 30px;
}

.product a {
  position: relative;
  display: block;
  width: 350px;
  height: 650px;
  color: $color-default-white;

  background-repeat: no-repeat;
  background-position: 0 0;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(4, 24, 39);
    opacity: 0.5;
    transition: opacity $trans-default;
  }

  @include vp-1024 {
    width: 670px;
    height: 250px;
    background-size: cover;
  }

  @include vp-768 {
    width: 270px;
  }
}

// Фоновое изображение для каждой карточки в каталоге
.product--1 a {
  background-image: url("../img/catalog/card-1.jpg");
}

.product--2 a {
  background-image: url("../img/catalog/card-2.jpg");
}

.product--3 a {
  background-image: url("../img/catalog/card-3.jpg");
}

.product h3 {
  font-family: $ff-placeholder-second;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  max-width: 175px;
  margin: 0;
  top: 49px;
  left: 40px;

  @include vp-1024 {
    max-width: 150px;
    top: 36px;
    left: 45px;
  }

  @include vp-768 {
    max-width: 139px;
    font-size: 18px;
    top: 26px;
    left: 29px;
  }
}

.product img {
  background-color: $color-silver;
}

.product__icon {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 0;
  transition: width $trans-600;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/decorative/arrow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 10px;
    width: 7px;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  @include vp-768 {
    width: 40px;
    height: 40px;
  }
}

/* Эффект при наведении на карточку товара */
.product a:hover::before {
  opacity: 0;
}

.product a:hover .product__icon {
  width: 100%;
}


// .callback-email {
//   top: auto;
//   bottom: 180px;
//   width: 760px;
//   padding: 63px 100px 84px 100px;
// }

// .callback-item {
//   width: 360px;
//   margin-top: 0;
// }

// .callback-item label {
//   display: block;
//   margin-bottom: 9px;
// }

// .callback-form {
//   display: grid;
//   grid-template-columns: 400px 360px;
//   grid-template-areas:
//   "name email"
//   "textarea textarea";
// }

// .callback-item__name {
//   grid-area: name;
//   margin-bottom: 34px;
// }

// .callback-item__email {
//   grid-area: email;
// }

// .callback-item__textarea {
//   grid-area: textarea;
//   margin-bottom: 47px;
//   width: 760px;
// }

// .callback-item__textarea textarea {
//   width: 727px;
//   padding: 16px;
//   height: 82px;
//   border: 2px solid var(--basic-extra-light-grey);
// }

// .textarea-title {
//   margin: 0;
//   margin-bottom: 9px;
// }

// .callback-form input[type="text"],
// .callback-form input[type="email"] {
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 18px;
//   color: var(--basic-grey);
//   border: 2px solid var(--basic-extra-light-grey);
//   width: 360px;
//   padding: 10px 20px;
//   box-sizing: border-box;
// }

// .callback h2 {
//   font-size: 45px;
//   line-height: 52px;
//   margin: 0;
//   margin-bottom: 37px;
// }

// .callback-item input:hover {
//   border: 2px solid var(--basic-extra-light-dark);
// }

// .callback-item input:focus {
//   border: 2px solid var(--basic-black);
// }

// .callback-item input:invalid {
//   border: 2px solid var(--basic-red);
// }
