.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.catalog__container {
  padding: 0 350px 140px;
}

.catalog__container h2 {
  font-family: $ff-placeholder-second;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin: 0;
  margin-bottom: 50px;
  padding-top: 70px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 85px;
}

.product a {
  position: relative;
  display: block;
  width: 350px;
  height: 650px;
  color: $color-default-white;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(4, 24, 39);
    opacity: 0.5;
    transition: opacity $trans-default;
  }
}

.product h3 {
  position: absolute;
  max-width: 215px;
  margin: 0;
  top: 35px;
  left: 35px;
}

.product img {
  background-color: $color-silver;
}

.product__icon {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px 0px 0px 0px;
  bottom: 0;
  right: 0;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/decorative/arrow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 10px;
    width: 7px;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Эффект при наведении на карточку товара */
.product a:hover::before {
  opacity: 0;
}




.callback-email {
  top: auto;
  bottom: 180px;
  width: 760px;
  padding: 63px 100px 84px 100px;
}

.callback-item {
  width: 360px;
  margin-top: 0;
}

.callback-item label {
  display: block;
  margin-bottom: 9px;
}

.callback-form {
  display: grid;
  grid-template-columns: 400px 360px;
  grid-template-areas:
  "name email"
  "textarea textarea";
}

.callback-item__name {
  grid-area: name;
  margin-bottom: 34px;
}

.callback-item__email {
  grid-area: email;
}

.callback-item__textarea {
  grid-area: textarea;
  margin-bottom: 47px;
  width: 760px;
}

.callback-item__textarea textarea {
  width: 727px;
  padding: 16px;
  height: 82px;
  border: 2px solid var(--basic-extra-light-grey);
}

.textarea-title {
  margin: 0;
  margin-bottom: 9px;
}

.callback-form input[type="text"],
.callback-form input[type="email"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-grey);
  border: 2px solid var(--basic-extra-light-grey);
  width: 360px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.callback h2 {
  font-size: 45px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 37px;
}

.callback-item input:hover {
  border: 2px solid var(--basic-extra-light-dark);
}

.callback-item input:focus {
  border: 2px solid var(--basic-black);
}

.callback-item input:invalid {
  border: 2px solid var(--basic-red);
}
