/* ============ У footer__nav и footer__contact одинаковые стили*/

.footer__nav {
  max-width: 470px;
  margin-right: 129px;

  @include vp-1024 {
    max-width: 220px;
    flex-shrink: 0;
    margin: 0;
  }

  @include vp-768 {
    padding-bottom: 4px;
  }
}

.footer__contact {
  max-width: 345px;
}

.footer__nav,
.footer__contact {
  @include vp-768 {
    margin: -1px 0 0 0;

    max-width: none;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.nav__wrapper,
.contact__wrapper {
  @include vp-768 {
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
  }
}

.nav__title h3,
.contact__title h3 {
  font-family: $ff-placeholder-second;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @include vp-768 {
    position: relative;

    cursor: pointer;
    margin: 0;
    padding: 20px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $color-alice-blue;
    }

    &::before {
      transform: rotate(90deg);
      transition: transform $trans-600;
    }
  }
}

// Смена крестика на минус при открытии аккордиона
.nav__title.is-open h3::before,
.contact__title.is-open h3::before {
  transform: rotate(0deg);
}

.nav__rows {
  display: flex;
  flex-wrap: wrap;

  @include vp-1024 {
    display: block;
  }
}

.nav__list,
.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact__list {
  margin-right: 30px;

  @include vp-1024 {
    margin: 0;
  }
}

// Стили для работоспособности аккордиона
.nav__rows,
.contact__list {
  @include vp-768 {
    overflow: hidden;
    max-height: 0;
    transition: max-height $trans-600;
  }
}

// Добавление отступа при открытии
.nav__wrapper.is-open .nav__rows,
.contact__wrapper.is-open .contact__list {
  margin-bottom: 14px;
}

.nav__list {
  max-width: 220px;
}

.nav__list--first {
  margin-right: 26px;

  @include vp-1024 {
    margin: 0 0 5px 0;
  }
}

.nav__item,
.contact__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav__item a,
.contact__item a {
  line-height: 22px;
  color: $color-transparent-opacity-2;
  padding: 5px 0;
  transition: color $trans-default, text-shadow $trans-default;
  user-select: none;

  @include effects-off {
    &:hover,
    &:focus {
      color: $color-deep-sky-blue;
      text-shadow: 0 0 8px $color-deep-sky-blue;
    }

    &:active {
      color: $color-dodger-blue;
    }
  }

  &:active {
    color: $color-dodger-blue;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 19px;
  }
}

/* Реализация аккордиона без JS. Стилизация с помощью добавления класса "no-js" тегу div с классом  .second-row */

.second-row.no-js h3::before {
  transform: rotate(0deg);
}

.second-row.no-js .nav__rows,
.second-row.no-js .contact__list {
  max-height: none;
  margin-bottom: 14px;
}
