.footer {
  background-color: $color-black-pearl;
  color: $color-transparent-opacity-2;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 50px 350px 55px;
}

/* ============ footer__logo */

.footer__logo {
  margin-bottom: 30px;
}

@include effects-off {
  // .footer__logo .logo__icon:hover,
  // .footer__logo .logo__icon:focus {
  //   fill: $color-aqua;
  // }

  // .footer__logo .logo__icon:active {
  //   fill: $color-dodger-blue;
  // }
}

.footer__logo .logo__icon:active {
  // fill: $color-dodger-blue;
}

/* ============= row */

.second-row {
  display: flex;
}

/* ============ footer__nav */

.footer__nav {
  max-width: 410px;
  margin-right: 125px;
}

.footer__contact {
  max-width: 350px;
}

.nav h3,
.contact h3 {
  font-family: $ff-placeholder-second;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.nav__rows {
  display: flex;
}

.nav__list,
.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact__list {
  margin-right: 30px;
}

.nav__list--first {
  margin-right: 30px;
}

.nav__item,
.contact__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav__item a,
.contact__item a {
  line-height: 22px;
  color: $color-transparent-opacity-2;
  padding: 5px 0;
  transition: color $trans-default;

  @include effects-off {
    &:hover,
    &:focus {
      color: $color-deep-sky-blue;
    }

    &:active {
      color: $color-dodger-blue;
    }
  }

  &:active {
    color: $color-dodger-blue;
  }
}

