.footer {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.footer__container {
  display: grid;
  grid-template-columns: min-content 1fr minmax(min-content, 108px);
  align-items: center;
  padding: 50px 20px;

  @include tablet-version-range {
    grid-template-columns: min-content 1fr minmax(min-content, 85px);
    padding: 50px 45px;
  }

  @include mobile-version-range {
    display: block;
    padding: 40px 15px;
  }
}

/* ============ footer__logo */

/* Основные стили по стилизации в файле logo.scss */
.footer__logo {
  @include mobile-version-range {
    margin: 2px 0 18px;
  }
}

@include effects-off {
  .footer__logo .logo__icon:hover,
  .footer__logo .logo__icon:focus {
    fill: $color-aqua;
  }

  .footer__logo .logo__icon:active {
    fill: $color-dodger-blue;
  }
}

.footer__logo .logo__icon:active {
  fill: $color-dodger-blue;
}

/* ============ footer__nav */

.footer__nav {
  margin-right: 20px;

  @include mobile-version-range {
    margin: 2px 0 23px;
  }
}

.footer__nav .nav__list {
  margin: 0;

  @include vp-768 {
    display: block;
  }
}

.footer__nav .nav__item {
  margin: -1px 35px 10px 0;

  @include tablet-version-range {
    margin: -10px 15px 6px 0;
  }

  @include mobile-version-range {
    margin: 0 0 8px 0;

    &:last-child {
      margin: 0 0 0 0;
    }
  }
}

.footer__nav a {
  position: relative;
  color: $color-alice-blue;
  padding: 5px 0;

  @include effects-off {
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: $color-perano;
      transition: width $trans-600;
    }

    &:hover::after,
    &:focus::after {
      content: "";
      width: 100%;
      left: 0;
      background-color: $color-default-white;
    }
  }

  &:active {
    color: $color-turquoise-blue;
  }

  @include tablet-version-range {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 10px 10px 0;
    color: $color-alice-blue;
  }

  @include mobile-version-range {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 10px 10px 0;
    color: $color-alice-blue;
  }
}
