.header {
  position: fixed;
  width: 100%;
  color: $alice-blue;
  background: $black-to-bottom;
  z-index: 10;

  padding: 30px 0 40px 0;

  @include vp-1024 {
    position: static;
    width: auto;

    padding: 20px 0 30px 0;
    margin-bottom: -229px;
  }

  @include vp-768 {
    padding-top: 10px;
    margin-bottom: -232px;
  }
}

.header.hiding {
  z-index: -1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
