.intro {
  color: $alice-blue;
  background-image: url("../img/background/intro-background.png");
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-height: 777px;
  margin-top: 103px;
  margin-bottom: 120px;

  @include vp-1024 {
    min-height: 556px;
    margin-top: -15px;
    margin-bottom: 80px;
  }

  @include vp-768 {
    min-height: 503px;
    margin-bottom: 50px;
  }

  // filter: $intro-filter-bcg;

  // @include retina {
  //   background-image: url("../img/background/intro-background@2x.jpg");
  // }

  // @include tablet-version-range {
  //   background-image: url("../img/background/intro-background-tablet.jpg");
  //   filter: none;

  //   @include retina {
  //     background-image: url("../img/background/intro-background-tablet@2x.jpg");
  //   }
  // }

  // @include mobile-version-range {
  //   background-image: url("../img/background/intro-background-mobile.jpg");
  //   filter: none;

  //   @include retina {
  //     background-image: url("../img/background/intro-background-mobile@2x.jpg");
  //   }
  // }
}

// /* ============ intro__block */

.intro__block {
  padding-top: 202px;
  margin-left: 126px;

  @include vp-1024 {
    margin: 0;
    padding-top: 95px;
  }

  @include vp-768 {
    padding-top: 93px;
  }
}

.intro__block h1 {
  font-family: $ff-placeholder-second;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0 0 31px;

  @include vp-1024 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @include vp-768 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.intro__block p {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  max-width: 685px;
  margin: 0 0 43px;

  @include vp-1024 {
    margin: 0 0 58px;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 45px;
  }
}

.intro__block a {
  display: inline-block;
  vertical-align: middle;
  font-family: $ff-placeholder-second;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $alice-blue;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  padding: 18px 27px;
  transition: background-color $trans-default;

  @include effects-off {
    &:hover,
    &:focus {
      background-color: $color-dark-slate-blue;
    }

    &:active {
      background-color: $color-blue;
    }
  }

  &:active {
    background-color: $color-blue;
  }

  @include vp-1024 {
    margin-left: 45px;
    padding: 15px 27px;
  }

  @include vp-768 {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 12px 27px;
  }
}

.intro__block span:first-child {
  @include vp-768 {
    display: none;
  }
}

.intro__block span:last-child {
  display: none;

  @include vp-768 {
    display: block;
  }
}
