.intro {
  color: $color-alice-blue;
  background-image: url("../img/background/intro-background.jpg");
  background-color: $deep-sky-blue;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  filter: $intro-filter-bcg;

  @include retina {
    background-image: url("../img/background/intro-background@2x.jpg");
  }

  @include tablet-version-range {
    background-image: url("../img/background/intro-background-tablet.jpg");
    filter: none;

    @include retina {
      background-image: url("../img/background/intro-background-tablet@2x.jpg");
    }
  }

  @include mobile-version-range {
    background-image: url("../img/background/intro-background-mobile.jpg");
    filter: none;

    @include retina {
      background-image: url("../img/background/intro-background-mobile@2x.jpg");
    }
  }
}

.intro__container {
  display: flex;
  align-items: center;
  min-height: 650px;

  @include tablet-version-range {
    min-height: 638px;
  }

  @include mobile-version-range {
    min-height: 500px;
  }
}

/* ============ intro__block */

.intro__block {
  margin-left: 96px;

  @include tablet-version-range {
    margin-left: 0;
  }

  @include mobile-version-range {
    transition: opacity 0.6s ease;
    margin-left: 0;
  }
}


.intro__block.text-opacity {
  opacity: 0;
}

.intro__block h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 55px;
  max-width: 1000px;
  text-shadow: 0 4px 4px $color-black-opacity-1;
  margin: 0;
  margin-bottom: 16px;

  @include tablet-version-range {
    font-size: 50px;
    line-height: 40px;
    margin: 0 0 22px;
  }

  @include mobile-version-range {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 10px;
  }
}

.intro__block p {
  font-size: 20px;
  line-height: 24px;
  max-width: 900px;
  text-shadow: 0 4px 4px $color-black-opacity-1;
  margin: 0;

  @include tablet-version-range {
    font-size: 18px;
    line-height: 22px;
  }

  @include mobile-version-range {
    font-size: 16px;
    max-width: 210px;
  }
}
