.intro {
  color: $alice-blue;
  background-image: url("../img/background/intro-background.png");
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-height: 777px;
  margin-top: 208px;
  margin-bottom: -84px;
  transform: translateY(-204px);

  @include retina {
    background-image: url("../img/background/intro-background@2x.png");
  }

  @include vp-1024 {
    min-height: 556px;
    // margin-top: -15px;
    margin-bottom: 80px;
    background-image: url("../img/background/intro-background-tablet.png");
    transform: translateY(0);


    @include retina {
      background-image: url("../img/background/intro-background-tablet@2x.png");
    }
  }

  @include vp-768 {
    min-height: 503px;
    margin-bottom: 50px;
    background-image: url("../img/background/intro-background-mobile.png");

    @include retina {
      background-image: url("../img/background/intro-background-mobile@2x.png");
    }
  }
}

// /* ============ intro__block */

.intro__block {
  padding: 299px 0 280px 0;
  margin-left: 126px;

  @include vp-1024 {
    margin: 0;
    padding: 95px 0 206px;
  }

  @include vp-768 {
    padding: 93px 0 189px;
  }
}

.intro__block h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  margin: 0 0 33px;

  // font-family: $ff-placeholder-second; /* Заменяем на моноширинный(monospace) */
  // letter-spacing: 0.07em; /* Расст-ние между букв мешает правильному псевдо-набору */

  // Свойства для эффекта псевдо-набора текста
  white-space: nowrap;
  /* Запрещаем перенос для корректности псевдо-набора */
  overflow: hidden;
  /* Скрываем буквы при  псевдо-наборе */
  border-right: 4px solid orange;
  /* Псевдо-курсор набора текста */
  font-family: monospace;
  /* Работает только при таком семействе шрифтов, где ширина букв одинаковая */
  width: 14ch;
  /* Ширина равняется кол-ву символов */
  animation: flashing-border 0.75s step-end infinite, printed-text 3s steps(14);

  @include vp-1024 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;

    letter-spacing: 0.07em;
    white-space: normal;
    border-right: none;
    font-family: $ff-placeholder-second;
    width: auto;
    animation: none;
  }

  @include vp-768 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.intro__block p {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  max-width: 685px;
  margin: 0 0 43px;

  @include vp-1024 {
    margin: 0 0 58px;
  }

  @include vp-768 {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 45px;
  }
}

.intro__block a {
  display: inline-block;
  vertical-align: middle;
  font-family: $ff-placeholder-second;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 420px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $alice-blue;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  padding: 18px 27px;
  transition: background-color $trans-default, border-radius $trans-default;
  user-select: none;

  // Свойства для эффекта при наведения
  appearance: none;
  position: relative;
  overflow: hidden;

  @include effects-off {
    &::before {
      // Размер цветного пятна при наведении
      --size: 0;

      content: "";
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, $color-torch-red, transparent);
      transform: translate(-50%, -50%);
      transition: width $trans-default, height $trans-default;
    }

    &:hover {
      border-radius: 50px;
    }

    &:hover::before {
      --size: 800px;
    }

    &:focus {
      background-color: $color-dark-slate-blue;
      border-radius: 50px;
    }

    &:active {
      background-color: $color-blue;
    }
  }

  &:active {
    background-color: $color-blue;
  }

  @include vp-1024 {
    margin-left: 45px;
    padding: 15px 27px;
  }

  @include vp-768 {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 12px 27px;
  }
}

.intro__block span:first-child {
  // Свойства для эффекта при наведения
  pointer-events: none;
  position: relative;
  z-index: 5;

  @include vp-768 {
    display: none;
  }
}

.intro__block span:last-child {
  display: none;

  @include vp-768 {
    display: block;
  }
}

// Анимация набора текста
@keyframes flashing-border {
  0% {
    border-color: orange;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: orange;
  }
}

@keyframes printed-text {
  from {
    width: 0;
  }
}
