.callback-modal {
  display: none;

  /* Делаем по центру модальное окно  */
  position: fixed;
  left: 0;
  right: 0;
  bottom: auto;
  top: 146px;
  margin: auto;

  width: 500px;
  z-index: 10;
  padding: 40px;
  border-radius: 3px;
}

/* Реализация открытия модального окна */
.callback-modal.show {
  display: block;
  animation: bounce 0.6s;
}

.callback-modal .callback-modal__block {
  margin: 0;
}

.callback-modal__block span {
  max-width: 380px;
  margin-bottom: 40px;
}

/* Modal-login Animations */

/* Анимация для открытия модального окна */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
