.callback-modal {
  display: none;
  background-image: none;
}

.callback-modal__wrapper {
  /* Делаем по центру модальное окно  */
  position: absolute;
  top: 146px;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;

  background-color: #00B3FF;
  max-width: 500px;
  min-height: 610px;
  z-index: 10;
  padding: 40px;
  border-radius: 3px;
  animation: bounce $trans-600;
}

/* Реализация открытия модального окна */
.callback-modal.show {
  display: block;
}

.callback-modal .callback-modal__block {
  margin: 0;
}

.callback-modal__block span {
  max-width: 380px;
  margin-bottom: 40px;
}

// Затемнение фона при открытии модального окна
.callback.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $body-shadow;
  overflow: auto;
  z-index: 5;
}

/* Modal-login Animations */

/* Анимация для открытия модального окна */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
