.callback-modal {
  display: none;
  background-image: none;
}

.callback-modal__wrapper {
  /* Делаем по центру модальное окно  */
  position: absolute;
  top: 144px;
  left: -16px;
  right: 0;
  bottom: auto;
  margin: auto;

  background-color: $color-deep-sky-blue-2;
  max-width: 500px;
  min-height: 610px;
  z-index: 10;
  padding: 40px;
  border-radius: 3px;
  animation: bounce $trans-600;
}

/* Реализация открытия модального окна */
.callback-modal.show {
  display: block;
}

.callback-modal .callback-modal__block {
  margin: 0;
}

.callback-modal__block p {
  font-size: 30px;
  line-height: 42px;
  margin: 0 0 3px 0;
}

.callback-modal__block span {
  max-width: 380px;
  margin: 0 0 36px 0;
}

// callback-modal__form

.callback-modal__form .form__list {
  display: block;
  margin: 0 0 16px;
}

.callback-modal__form .callback__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

// callback-modal__confirmation

.callback-modal__confirmation {
  display: flex;
  flex-direction: column;
}

.callback-modal__confirmation .callback__button {
  width: 100%;
  padding: 11px 32px;
  margin-right: 0;
  margin-bottom: 13px;
}

// callback-modal__approval

.callback-modal__approval {
  margin-left: 9px;
}

.callback-modal__approval label {
  max-width: 395px;

  &:active {
    color: $color-electric-indigo;
    opacity: 1;
  }
}

// callback-modal__btn-close
.callback-modal__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: $color-default-white;
    top: 20px;
    right: 10px;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}

// Затемнение фона при открытии модального окна
.callback.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $body-shadow;
  overflow: auto;
  z-index: 5;
}

/* Modal-login Animations */

/* Анимация для открытия модального окна */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
