.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 350px;

  @include vp-1024 {
    max-width: 1023px;
    padding: 0 50px;
  }

  @include vp-768 {
    max-width: 767px;
    padding: 0 25px;
  }
}
