.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 5px;

  @include vp-1024 {
    max-width: 680px;
    padding: 0 5px;
  }

  @include vp-768 {
    max-width: 280px;
    padding: 0 5px;
  }
}
